<!-- The code you provided is an HTML document structure. It defines the basic structure and content of a
web page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/Home.css">
    <title>StudyMaterial</title>
</head>
<body>
    <div class="container">
        <div class="row center title">
            <p class="title"><b>Светлото Ви бъдеще е нашият успех</b></p1>
            <p class="title"><b>От учители за ученици!</b></p1>
        </div>
        <div class="row center ">
            <a class="btn-view" asp-area="" asp-controller="StudyMaterials" asp-action="Index">Разгледай материалите</a>
        </div>
    </div>
</body>
</html>