@using Learning_Content_Models.Models.Enums
@model Learning_Content_Models.Models.StudyMaterial
@{
    ViewData["Title"] = "Create";
}

<h2>Create StudyMaterial</h2>
<form method="post" asp-action="Add" asp-controller="StudyMaterials" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="m-2">
        <label class="form-label" for="FileUpload">
            Upload
        </label>
       <input type="file" asp-for="FileUpload" class="form-control"/>
    </div>
    <button id="update-prfile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    <div class="form-group">
        <label asp-for="TypeFile"></label>
        <select asp-for="TypeFile" asp-items="Html.GetEnumSelectList<TypeFile>()" class="form-control">
            <option value="">Select an TypeFile</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="URL"></label>
        <input asp-for="URL" class="form-control" />
    </div>
    @* <div class="form-group">
        <label asp-for="Teacher"></label>
        <input asp-for="Teacher" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
            <option value="">Select an Category</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CreateDate"></label>
        <input asp-for="CreateDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <input asp-for="Class" class="form-control" />
    </div>@* 
    @if (true)
    {
        Model.CreatedByName = Model.ApplicationUser.Name;
    } *@

    <button type="submit" class="btn btn-primary">Create</button>
</form>