@using Learning_Content_Models.Models.Enums
@model Learning_Content_Models.Models.StudyMaterial

<h2>Edit StudyMaterial</h2>
<form method="post" asp-controller="StudyMaterials" asp-action="Edit">
    <div class="form-control">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="URL" class="form-label"></label>
        <input asp-for="URL" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
            <option value="">Select an engine type</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="TypeFile"></label>
        <select asp-for="TypeFile" asp-items="Html.GetEnumSelectList<TypeFile>()" class="form-control">
            <option value="">Select an engine type</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Subject" class="form-label"></label>
        <input asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Class" class="form-label"></label>
        <input asp-for="Class" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CreateDate" class="form-label"></label>
        <input asp-for="CreateDate" type="date" class="form-control" />
    </div>
    <input type="submit" value="Update" class="btn btn-primary" asp-controller="StudyMaterials" />
</form>