@page
@model AccessDeniedModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <style>

        .container {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .container h1 {
                color: #ff5050;
                margin-bottom: 10px;
            }

            .container p {
                color: #666;
                margin-bottom: 20px;
            }

            .container img {
                width: 200px;
                margin-bottom: 20px;
            }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Достъп отказан</h1>
        <p>Нямате право на този ресурс</p>
        <a style="background:orange;" href="/" class="button">Върни се обратно</a>
    </div>
</body>
</html>

