@model IEnumerable<Learning_Content_Models.Models.TypeFile>

<h2>TypeFile List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>StudyMaterial</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var typeFile in Model)
        {
            <tr>
                <td>@typeFile.Name</td>
                <td>@string.Join(", ", typeFile.StudyMaterials.Select(m => m.Title).ToList())</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@typeFile.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" asp-route-id="@typeFile.Id" method="post"
                          onsubmit="return confirm('Are you sure you want to delete this typeFile?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" asp-controller="TypeFile" class="btn btn-success">Add New typeFile</a>
