@model Learning_Content_Models.Data.UserViewModel

<form asp-action="CreateUser" method="post">
    <!-- Display validation errors, etc. -->

    <label asp-for="UserName"></label>
    <input asp-for="UserName" />

    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <label asp-for="RoleId"></label>
      <select asp-for="RoleId" asp-items="@(new SelectList(ViewBag.Roles, "Id", "Name"))" class="form-control">
            <option value="">Select a Role</option>
        </select>
    <button type="submit">Create User</button>
</form>